/Plantilla/nbproject/private/
/Plantilla/build/
/Plantilla/dist/
/Practica1/nbproject/private/
/Practica1/build/
/Practica1/dist/
/Practica1_v2/nbproject/private/
/Practica1_v2/build/
/Practica1_v2/dist/
/Practica2/nbproject/private/
/Practica2/dist/
/Practica2/build/
/Practica2_v2/nbproject/private/
/Practica1/video
/Practica2/video
/Zips
/Practica3/nbproject/private/
/Practica3/build/
/Practica3/dist/
/Practica3/video
/Practica4/nbproject/private/
/Practica4/build/
/Practica4/dist/
/Practica4/video
/Practica5/nbproject/private/
/Practica5/build/
/Practica5/dist/
probabilisticos-enunciado.pdf
Practica5/p5_final.tex
/Practica5/video
/Practica6/nbproject/private/
/Practica7/nbproject/private/
/Practica6
/Practica7/build/
/Practica7/dist/
Practica7/P6_v4.tex
Practica7/P7_Simulador_Oca.tex
