/Plantilla/nbproject/private/
/Plantilla/build/
/Plantilla/dist/
/Practica1/nbproject/private/
/Practica1/build/
/Practica1/dist/
/Practica1_v2/nbproject/private/
/Practica1_v2/build/
/Practica1_v2/dist/
/Practica2/nbproject/private/
/Practica2/dist/
/Practica2/build/
/Practica2_v2/nbproject/private/
/Practica1/video
